:root {
  --md-primary-fg-color:        #4dbed2;
  --md-primary-fg-color--light: #4dbed2;
  --md-primary-fg-color--dark:  #4dbed2;
  --idk0: #584b98;
  --idk: #394878;
  --idk2: #505ca1;
  --idk3: #656cc8;
}
.md-header {
  background: linear-gradient(90deg, #4dbed2 0%, #342b60 100%);
}

.md-tabs {
  background: linear-gradient(90deg, #4dbed2 0%, #342b60 100%);
}

.md-gradient-option {
  background: linear-gradient(45deg, #f8c1df 0%, #f283bf 33%, #eb449e 66%, #e4067e 100%);
}

.md-reverse-gradient {
  background: linear-gradient(45deg, #e4067e 0%, #e4067e 33%, #eb449e 66%, #f283bf 100%);
}

.md-new-gradient {
  background: linear-gradient(45deg, #9a95b0 0%, #676088 50%, #342b60 100%);
}

.md-custom-gradient {
  background: linear-gradient(45deg, #4dbed2 0%, #342b60 100%);
}